header {
    background: #040404;
    padding: 12px 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

header h1 {
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.dropdown-toggle img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.dropdown-toggle svg {
    margin-left: 4px;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    left: -10px;
    max-width: 100px;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.dropdown-item img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}