#info {
    display: flex;
    text-align: center;
    padding: 0px 36px;
    height: auto;
    min-height: 220px;
    background: #20123a;
}

#info h2 {
    color: #9059ff;

}

#info p {
    color: #E3FFF3;
    margin-bottom: 24px;
}